# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# JetBrains
.idea/

# Local config file
config.override.yaml

# Env file
*.env

# Cert
cert/

# Vendor
vendor/

# Build
build

# Debug 
.vscode/

# Config file
config.yaml

# Debug file
__debug_bin*

# Metals
.metals

Chart.lock
charts/**/charts

.lsp/
.clj-kondo